<div class="col-lg-12">
    <!-- Basic card -->
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Basic card</h5>
        </div>

        <div class="card-body">
            <h6>Start your development with no hassle!</h6>
            <p class="mb-3">Common problem of templates is that all code is deeply integrated into the core. This limits your freedom in decreasing amount of code, i.e. it becomes pretty difficult to remove unnecessary code from the project. Limitless allows you to remove unnecessary and extra code easily just by disabling styling of certain components in <code>_config.scss</code>. Styling of all 3rd party components are stored in separate SCSS files that begin with <code>$enable-[component]</code> condition, which checks if this component is enabled in SCSS configuration and either includes or excludes it from bundled CSS file. Use only components you actually need!</p>

            <h6>What is this?</h6>
            <p class="mb-3">Starter kit is a set of pages, useful for developers to start development process from scratch. Each layout includes base components only: layout, page kits, color system which is still optional, bootstrap files and bootstrap overrides. No extra CSS/JS files and markup. CSS files are compiled without any plugins or components. Starter kit is moved to a separate folder for better accessibility.</p>

            <h6>How does it work?</h6>
            <p>You open one of the starter pages, add necessary plugins, enable components in <code>_config.scss</code> file, compile new CSS. That's it. It's also recommended to open one of main pages with functionality you need and copy all paths/JS code from there to your new page, if you don't need to change file structure.</p>
        </div>
    </div>
    <!-- /basic card -->
</div>

<%- contentFor('custom_scripts') %>

<%- contentFor('custom_styles') %>
